# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages used in Data Science
- List of commonly used library of Data Scientist
- Working with markdown in Jupyter Notebook
- Performing simple arithmethic in Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python.
2. R.
3. SQL.
4. Java.
5. Julia.
6. Scala.
7. C
8. C++.

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. SciPy
4. TensorFlow
5. Matplotlib
6. Keras
7. PyTorch
8. SciKit-Learn
9. BeautifulSoup
10. Scrapy

| Data Science Tools |
| ------ |
|SAS|
|Apache Spark|
|BigML|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to multiply then add integers

In [2]:
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author
Bianca Quizon